<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RecruiteeBankContext" connectionString="Data Source=sadallo-pc;Initial Catalog=NewRecruiteeBank;Integrated Security=True;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="IMatlabSvc" value="UMNewRecruiteeWebsite.Service.Plugin.MatlabSvcImpl"/>
    <add key="IFileSystemSvc" value="UMNewRecruiteeWebsite.Service.Plugin.FileSystemSvcImpl"/>
    <add key="ICategorySvc" value="UMNewRecruiteeWebsite.Service.Plugin.CategorySvcEFImpl"/>
    <add key="IRankingSvc" value="UMNewRecruiteeWebsite.Service.Plugin.RankingSvcEFImpl"/>
    <add key="IRecruiteeSvc" value="UMNewRecruiteeWebsite.Service.Plugin.RecruiteeSvcEFImpl"/>
    <add key="ISkillSvc" value="UMNewRecruiteeWebsite.Service.Plugin.SkillSvcEFImpl"/>

  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>