<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceMobile" />
        <binding name="BasicHttpBinding_IServiceWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://umdbms.no-ip.info/UMNewElasticWebsite/ServiceMobile.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMobile"
        contract="NewElasticServiceMobile.IServiceMobile" name="BasicHttpBinding_IServiceMobile" />
      <endpoint address="http://umdbms.no-ip.info/UMNewJobWebsite/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCF"
        contract="NewJobService.IServiceWCF" name="BasicHttpBinding_IServiceWCF" />
    </client>
  </system.serviceModel>
</configuration>