<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NewElasticBankContext" connectionString="Data Source=GCRUZPC\SQLEXPRESS;Initial Catalog=NewElasticBank;Integrated Security=True;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ITaskSvc" value="UMNewElasticWebsite.Service.Plugin.TaskSvcEFImpl"/>
    <add key="IRecommendedJobSvc" value="UMNewElasticWebsite.Service.Plugin.RecommendedJobSvcEFImpl"/>
    <add key="IRecruiteeSvc" value="UMNewElasticWebsite.Service.Plugin.RecruiteeSvcWSImpl"/>
    <add key="IJobSvc" value="UMNewElasticWebsite.Service.Plugin.JobSvcWSImpl"/>
    <add key="ISkillJobSvc" value="UMNewElasticWebsite.Service.Plugin.SkillJobSvcWSImpl"/>
    <add key="IRankingSvc" value="UMNewElasticWebsite.Service.Plugin.RankingSvcWSImpl"/>
    <add key="ISkillRecruiteeSvc" value="UMNewElasticWebsite.Service.Plugin.SkillRecruiteeSvcWSImpl"/>
    <add key="IFileSystemSvc" value="UMNewElasticWebsite.Service.Plugin.FileSystemSvcImpl"/>
    <add key="IAgeSvc" value="UMNewElasticWebsite.Service.Plugin.AgeSvcWSImpl"/>
    <add key="IEducationSvc" value="UMNewElasticWebsite.Service.Plugin.EducationSvcWSImpl"/>
    <add key="IIncomeSvc" value="UMNewElasticWebsite.Service.Plugin.IncomeSvcWSImpl"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceWCF1" />
        <binding name="BasicHttpBinding_IServiceWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://umdbms.no-ip.info/UMNewJobWebsite/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCF1"
        contract="NewJobService.IServiceWCF" name="BasicHttpBinding_IServiceWCF1" />
      <endpoint address="http://umdbms.no-ip.info/UMNewRecruiteeWebsite/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCF"
        contract="NewRecruiteeService.IServiceWCF" name="BasicHttpBinding_IServiceWCF" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>